
* {
    font-family: "Open Sans", sans-serif;
}
h1, h2 {
    font-weight: bolder;
    text-align: center;
}
body {
    background-color: palegreen;
    background-image: url("../img/wet.jpg");
}
.box {
    text-align: center;
    border: 1px solid grey;
    width: 365px;
    height: 400px;
    background-color: lightskyblue;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 33px;
    color: #1111cc;

}
h3 {
    color: #072964;
}
#map {
    width: 130vh;
    height: 80vh;
    margin: 0 auto;
}

.container {
    position: center;
}

